[Unit]
Description=Accton AS7926-40XFB Platform PHY handle service
After=syncd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/accton_as7926_40xfb_xphy.sh
RemainAfterExit=yes

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=syncd.service
